{% extends 'dummy.html' %}
{% block title %}
<title>Home</title>
{% endblock %}


{% block content %}
  
    <div class="instructions">
        <h2>Instructions</h2>
        <ul>
            <li>The computer randomly selects a number between 1 and 100.</li>
            <li>Your goal is to guess the correct number.</li>
            <li>Enter your guess and submit it.</li>
            <li>The game will tell you if your guess is too high or too low.</li>
            <li>Keep adjusting your guess based on the hints.</li>
            <li>The game ends when you guess the correct number.</li>
            <li>The player who finds the number in the least number of attempts wins.</li>
        </ul>
    </div>
    <form action="" >


        <div id="play-button"><button >PLAY</button></div>

    </form>
{% endblock %}